<div class="catalog__container second_container">
        <div class="catalog_nav">
            <p class='page_define'>Home<span>></span> Shop <span>></span> Page 1 of 1</p>
        </div>
        <div class="product-grid">
                        <div class='product-item'>
                            <a href="#">
                                    <img class='product-image' src="images/product-img.png" alt="">
                                    <h1 class='product-title'>Casual First Edition</h1>
                                    <h1 class='product-title'>Special Edition</h1>
                                    <h2 class='price'>$200</h2>
                            </a>
                        </div>
                <div class='product-item'>
                    <a href="product-page.html">
                            <img class='product-image' src="images/feature_product1.png" alt="">
                            <h1 class='product-title'>Casual First Edition 1.0</h1>
                            <h1 class='product-title'>Special Edition</h1>
                            <h2 class='price'>$200</h2>
                    </a>

                </div>
                <div class='product-item'>
                    <a href="#">
                            <img class='product-image' src="images/product-img.png" alt="">
                            <h1 class='product-title'>Super sane Hammack Style 1.0</h1>
                            <h1 class='product-title'>Special Edition</h1>
                            <h2 class='price'>$200</h2>
                    </a>
                </div>
                <div class='product-item'>
                        <a href="#">
                                <img class='product-image' src="images/product-img.png" alt="">
                                <h1 class='product-title'>Super sane Hammack Style 1.0</h1>
                                <h1 class='product-title'>Special Edition</h1>
                                <h2 class='price'>$200</h2>
                        </a>
                    </div>
        </div>
    </div>