<footer>
        <div class="container top-footer">
            <div class="flex">
                <!-- Column Item -->
                <div class="col">
                    <h1>MENU</h1>
                    <ul>
                        <li><a class='active' href="#">HOME</a></li>
                        <li><a href="#">CATALOG</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">VIDEOS</a></li>
                    </ul>
                </div>
                <!-- Column Item -->
                <div class="col middle">
                    <h1 class='follow'>
                        FOLLOW
                    </h1>
                    <div class="icon-social">
                       <a href="#">
                            <i class="fab fa-2x fa-instagram"></i>
                       </a> 
                    </div>
                    <div class="icon-social">
                        <a  href="#"> <i class="fab fa-2x fa-facebook-square"></i> </a> 
                    </div>
                    <div class="icon-social">
                        <a href="#"><i class="fab fa-2x fa-twitter-square"></i></a>
                    </div>
                    <p>Follow us we'll follow you back. </p>
                </div>
                <!-- Column Item -->
                <div class="form col">
                    <div class="sub-titles">
                            <span ><a class='Sub_title' href="#">SHOP</a></span>
                            <span ><a class='Sub_title' href="#">CONTACT US</a></span>
                    </div>
                   
                    <form action="">
                     <p>Sign up to get the latest on sales, new releases and more…</p>
                      <input type="text">
                      <input id='submit' type="submit">
                    </form>
                </div>
            </div>
          
          </div>
      </footer>