.flex-container{
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: rgba(255, 255, 255, 0); 
    flex-wrap: wrap; 
    background-color: white; 
    padding-bottom: 90px; 
    padding-top: 20px; 
}
.underline {
    width: 80px; 
    border: 3px solid black; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 30px; 
    margin-bottom: 30px; 
}
.col-1 {
    padding: 20px; 
    background-color: white; 
    margin-right: 40px; 
    margin-left: 40px; 
    max-width: 300px; 
}
.col-1 h1{
    margin-top: 20px; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400; 
}
.col-1 p {
   font-family:  'Josefin Sans', sans-serif;
}
.jumbo{
   background-color: rgba(0, 0, 255, 0); 
    position: relative; 
   
}
.col-1.right-col {
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}   
.col-1.left-col {
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 

}
.col-img {
    height: 280px; 
    display: inline-block; 
}
.jumbo {
   background-color: none; 
}
.col-1 a{
    text-decoration: none; 
    margin-bottom: 10px; 
    font-size: 0.9rem; 
}
