<div class="main-content">
     
   
    {% section 'homepage-slider' %}
    
        <div class="second_container jumbo">
            <div class="contain">
                    <div class="flex-container">
                            <div class="col-1 left-col">
                                <i class="fas fa-9x fa-mountain"></i>
                                
                                <h1>Flexible</h1>
                                <div class="underline"></div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quas porro explicabo voluptatibus, 
                                    possimus a quasi, officiis at impedit, illo alias dolore tempora id reprehen</p>
                                
                            </div>
            
                            <div class="col-1 middle">
                                    <i class="fas fa-9x fa-fist-raised"></i>
                                    <h1>Strong</h1>
                                    <div class="underline"></div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quas porro explicabo voluptatibus, 
                                            possimus a quasi, officiis at impedit, illo alias dolore tempora id reprehen</p>
                                    
                                    
                                </div>
                              <div class="col-1 right-col">
                                    <i class="fab fa-9x fa-vuejs"></i>
                                    <h1>Versitile</h1>
                                    <div class="underline"></div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quas porro explicabo voluptatibus, 
                                            possimus a quasi, officiis at impedit, illo alias dolore tempora id reprehen</p>
                            </div>
                       </div>
            </div>
        </div>
        {% section 'homepage-jumbo' %}
    
        <!-- Jumbotron With  -->
        <section class='banner'>
            <div class="slide-image slide-display full" style='background-image: url("images/hero-img3.jpg");'>
            </div>
        </section>
    
        <section class='bottom_container'> 
            <div class="bottom-flex">
        
                <div class='bottom_p'><p class='bottom_paragraph
                    '>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Ducimus dignissimos officia illo! Inventore perferendis nihil
                      repudiandae qui velit ab, modi alias natus, 
                      illum sunt animi atque dignissimos aut id. Lorem ipsum dolor sit
                       amet consectetur adipisicing elit. Eum animi reiciendis quia eos ea
                        ex odio rem illo labore, corporis dignissimos error reprehenderit.
                      Itaque magnam vel iusto, numquam laudantium dicta?  </p>
                     <button class="our_story">OUR STORY</button>
                </div>
                <div class="img"><img src="images/giphy.gif" alt=""></div>
                
            </div>
        </section>